<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/address/addressdtail.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
    <header class="header">
        <div class="header_top">
            <ul class="header_semi_menu">
                <li><a href="#">고객센터</a></li>
                <li><a href="#">알림</a></li>
                <li><a href="#">로그인</a></li>
            </ul>
        </div>
        <div class="header_bottom">
            <div class="logo_box">
                <img src="img/logo.png" alt="logo">
            </div>
            <div class="drop_menu">
                <ul class="e_drop">
                    <li>
                        <a href="#" class="default_m">CLOTHING</a>
                        <a href="#" class="hover_m">의류</a>
                    </li>
                    <li>
                        <a href="#" class="default_m">GAMES</a>
                        <a href="#" class="hover_m">게임</a>
                    </li>
                    <li>
                        <a href="#" class="default_m">APPLIANCES</a>
                        <a href="#" class="hover_m">가전제품</a>
                    </li>
                    <li>
                        <a href="#" class="default_m">ELECTRONICS</a>
                        <a href="#" class="hover_m">전자기기</a>
                    </li>
                </ul>
            </div>
            <div class="sub_icon">
                <img src="img/mypage_icon.png" alt="my_page">
                <img src="img/mycart_icon.png" alt="my_cart">
            </div>
        </div>
    </header>
<body>

    <section>
        <div style="margin:20px 0 20px 0 ;">
            <h2>주소지</h2>
            <div class="address-list">

                <!-- 카드 -->
                <div th:each = "list : ${list}">
                <div class="address-box">
                    <div class="address-info">
                        <span>[[${list.entity.addressAlias}]]</span>
                        <span class="default">[[${list.entity.isDefault}]]</span><br>
                        <span>[[${list.addr}]]</span><br>
                        <span>[[${list.detailAddress}]]</span><br>
                        <span>([[${list.postcode}]])</span><br>
                        <span>[[${list.entity.createdAt}]]</span>
                    </div>
                    <div class="button-group" style="position: relative;">
                        <form id="actionForm" action="" method="post">
                            <input type="hidden" name="addressId" th:value="${list.entity.addressId}">
                            <input type="hidden" name="uid" value ="test"> <!-- 세션 대신 사용 -->
                            <button type="button" class="btn btn-edit">수정</button>
                            <button type="button" class="btn btn-select" >선택</button>
                            <button type="button" class="btn btn-delete">삭제</button>
                        </form>
                    </div>
                </div>
                </div>

                
            </div>
            <div style="display: flex; justify-content: flex-end;">
            <button class="btn btn-add" >주소지 추가</button>
        </div>
        </div>



        <script>
            $(document).ready(function() {

                //아무 주소지도 없을경우
                if ($('.address-list').children().length === 0) {
                    $('.address-list').append('<div class="no-address">등록된 주소지가 없습니다.</div>');
                }

                $('.btn-edit').click(function() { //주소지 수정
                    $('#actionForm').attr('action', '/address/edit');
                    $('#actionForm').submit(); // form 제출
                });

                $('.btn-select').click(function() { //기본주소지 선택
                    var form = $(this).closest('form');
                    form.attr('action', '/address/default');
                    form.submit(); // form 제출
                });

                $('.btn-delete').click(function() { //삭제 버튼
                    var form = $(this).closest('form');

                    if(form.parent().prev().find('.default').text()=== '기본주소지') { //기본주소지 삭제 방지
                        alert("기본 주소지는 삭제할 수 없습니다.");
                        return;
                    }
                    if (confirm("정말 삭제 하시겠습니까?")) {
                        form.attr('action', '/address/delete'); // form action 설정
                        form.submit(); // form 제출
                    }
                });



                $('.btn-add').click(function() { //주소지 추가
                    window.location.href = '/address/reg'; // 주소지 추가 페이지로 이동
                });
            });
        </script>
    </section>

    <footer class="footer">
        <div class="footer_wrap">
            <div class="footer_top">
                <ul class="f_flex f_top_ul">
                    <li><a href="#" class="f_single">개인정보처리방침</a></li>
                    <li><a href="#" class="f_notice">이용안내</a></li>
                </ul>
            </div>
            <div class="footer_mid">
                <ul class="f_flex">
                    <li>상호명 : (주)REWRITE</li>
                    <li>대표자 : 따악코</li>
                    <li>주소 : 서울시 강남구 테헤란로7길 에스코빌딩</li>
                    <li>전화번호 : 1234-5678</li>
                    <li>팩스 : 02-9876-5432</li>
                    <li>이메일 : rewrite@rewrite.com</li>
                </ul>
            </div>
            <div class="footer_mid_sec">
                <ul class="f_flex f_mid_sub">
                    <li>사업자등록번호 : 202-50410</li>
                    <li>통신판매업신고 : 제25-0410호</li>
                </ul>
            </div>
            <div class="footer_mid_thd">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="footer_bottom">
                <p class="f_flex">Copyright © 2025 Jongsu Macne. All rights reserved. Created by JongSu</p>
            </div>
        </div>
    </footer>
    
    </body>
    
    </html>