 <link rel="stylesheet" href="/css/user/edit_profile.css" />
    <th:block th:replace="~{/include/include :: def(~{::#wrap})}">
        <section id="wrap" class="section">
            <div class="profile-container">
            <h1>회원정보수정</h1>
            <div class="img">
                <img class="profileImg" src="/img/profileImg.png" alt="회원정보수정이미지" />
                <img class="profileImg" src="/img/camera.png" alt="회원정보수정이미지" />
            </div>
            <p><a href="/address/detail">주소지 관리</a></p>
            <!-- 숨겨진 파일 선택 input -->
            <input type="file" id="imgInput" accept="image/*" style="display: none;" />

            <form action="/user/modify" method="post">
                <input type="text" name="nickname" th:value="${user.nickname}" placeholder="닉네임" /><br />
                <input type="text" name="password"  placeholder="비밀번호" /><br />
                <input type="text" name="eqpassword" placeholder="비밀번호 재입력" /><br/>
                <div class="actions">
                    <p><a href="#" class="withdraw">회원탈퇴</a></p>
                </div>          
                <button type="submit">수정하기</button>
            </form>
            </div>
        </section>
    </th:block>