<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/user/login.css">
  <link rel="stylesheet" href="/css/common.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <header class="header">
        <div class="header_top">
            <ul class="header_semi_menu">
                <li><a href="#">고객센터</a></li>
                <li><a href="#">알림</a></li>
                <li><a href="#">로그인</a></li>
            </ul>
        </div>
        <div class="header_bottom">
            <div class="logo_box">
                <img src="/img/logo.png" alt="logo">
            </div>
            <div class="drop_menu">
                <ul class="e_drop">
                    <li>
                        <a href="#" class="default_m">CLOTHING</a>
                        <a href="#" class="hover_m">의류</a>
                    </li>
                    <li>
                        <a href="#" class="default_m">GAMES</a>
                        <a href="#" class="hover_m">게임</a>
                    </li>
                    <li>
                        <a href="#" class="default_m">APPLIANCES</a>
                        <a href="#" class="hover_m">가전제품</a>
                    </li>
                    <li>
                        <a href="#" class="default_m">ELECTRONICS</a>
                        <a href="#" class="hover_m">전자기기</a>
                    </li>
                </ul>
            </div>
            <div class="sub_icon">
                <img src="/img/mypage_icon.png" alt="my_page">
                <img src="/img/mycart_icon.png" alt="my_cart">
            </div>
        </div>
    </header>
        <section class="section">
        <div class="login-container">
            <h1>로그인</h1>
            
            <form id="login-form" class="login-form">

                    <span>아이디</span><br>
                    <input type="text" name="id" class="id" required> <br>
                    <span>비밀번호</span><br>
                    <input type="password" name="pw" class="pw" required>
            
            <div class="save-id">
                <label>
                    아이디 저장<input type="checkbox" name="saveId"> 
                </label>
            </div>

            <button type="submit">로그인</button>
            </form>

            <div class="links">
            <a href="#">회원가입</a>
            <a href="#">아이디 찾기</a>
            <a href="#">비밀번호 찾기</a>
            </div>

        </div>
        </section>
    <footer class="footer">
        <div class="footer_wrap">
            <div class="footer_top">
                <ul class="f_flex f_top_ul">
                    <li><a href="#" class="f_single">개인정보처리방침</a></li>
                    <li><a href="#" class="f_notice">이용안내</a></li>
                </ul>
            </div>
            <div class="footer_mid">
                <ul class="f_flex">
                    <li>상호명 : (주)REWRITE</li>
                    <li>대표자 : 따악코</li>
                    <li>주소 : 서울시 강남구 테헤란로7길 에스코빌딩</li>
                    <li>전화번호 : 1234-5678</li>
                    <li>팩스 : 02-9876-5432</li>
                    <li>이메일 : rewrite@rewrite.com</li>
                </ul>
            </div>
            <div class="footer_mid_sec">
                <ul class="f_flex f_mid_sub">
                    <li>사업자등록번호 : 202-50410</li>
                    <li>통신판매업신고 : 제25-0410호</li>
                </ul>
            </div>
            <div class="footer_mid_thd">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="footer_bottom">
                <p class="f_flex">Copyright © 2025 Jongsu Macne. All rights reserved. Created by JongSu</p>
            </div>
        </div>
    </footer>
<script>
    const loginForm = document.getElementById('login-form');

    // async - 비동기로 진행하겠다.
    loginForm.addEventListener('submit', async function(e) {

        // 기본 이벤트 차단하고
        e.preventDefault();

        //로그인폼에서 id접근 - value 접근해서 가져옴.
        //혹시나 아이디 비밀번호 입력할때 뒤에 공백칸 붙히고 입력하는 빡통들을 위해 트림을 넣어서 띄어쓰기가 있어도 제거해줌.
        const userId = loginForm.id.value.trim();
        const userPw = loginForm.pw.value.trim();


        // 아이디, 비밀번호가 빈칸이면
        if (userId === '') {
            alert('아이디를 입력해주세요.');
            return;
        }
        if (userPw === '') {
            alert('비밀번호를 입력해주세요');
            return;
        }

        //loginForm에 있는 데이터 받아올건데, 이름을 formData라고 명명할거고
        const formData = new FormData(loginForm);
        // json으로 받기 위한 전처리 - 객체 만들어두기.
        const loginData = {};
        // json형식으로 받을건데, value, key 값으로 받아서 나중에 dto가 받기 쉽게 만들어줄거임.
        formData.forEach((value, key) =>{
            loginData[key] = value;
        })

        // 이미 만들어놓은 백엔드로 보내줄건데, 포스트, json 타입으로 보낼거임.
        try{
            const response = await fetch('/api/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(loginData)
            })

            //백엔드에서 ok(200) 을 response한다면 성공이니까, 홈으로 보내줌
            if (response.ok) {
                const success = await response.json();
                console.log('로그인 성공', success);
                window.location.href = '/'

                //그거 아니면 오류니까, 백엔드에서 실어주는 에러메세지(Validation오류 혹은 서버 오류 등) 을 alert해줌
            }else {
                const error = await response.json();
                alert(error.message);
            }

            // 네트워크 오류, 타임아웃, 파싱 안될때, 서버 죽었을때, cors 오류 등을 위해서 여기서도 에러처리
        }catch(error){
            console.log('로그인 오류발생', error);
            alert(error.message);
        }
    });


</script>
</body>
</html>
