  <link rel="stylesheet" href="/css/user/mypage.css">
<th:block th:replace="~{/include/include :: def(~{::#wrap})}">

    <section id="wrap">
      <!-- 상단단 -->
      <h1 style="font-size: 30px; margin: 30px 0 10px 10px;">홍길동님 안녕하세요</h1>
      <div class="profile-section">
        <div class="profile-left">
          <div class="profile-img">
            <img src="/img/user/user_profile_img.png" alt="" style="width: 100%;">
          </div>

        </div>
        <div class="profile-info">
          <div class="level">LV.5 고목나무</div>
          <div class="tree-icon">🌳</div>
          <div>매너등급</div>
          <div class="manners-bar">
            <div class="progress"></div>
          </div>
          <div class="manners-labels">
            <span>LV.5</span>
            <span>LV.6</span>
          </div>
        </div>
        <div class="stat-item">
          <div class="label">구매수</div>
          <div class="value">1</div>
        </div>
        <div class="stat-item">
          <div class="label">판매수</div>
          <div class="value">20</div>
        </div>
        <div class="stat-item">
          <div class="label">리뷰</div>
          <div class="value">12</div>
        </div>
      </div>

      <!-- 중간 -->
      <div>
        <h2>최근 주문 내역</h2>
        <div style="display: flex; gap: 20px;">
          <a href="addressdetail.html" class="latest-order">
            <div class="latest-order">
              <img src="/img/user/58dc48bc0431c3afc99be751bce99ac4c89237f380bc34b0d30b8adfbb92cc89_0.webp" alt=""
                class="main-img">
              <div class="title">스타벅스 블루투스 랜턴 캠핑조명</div>
              <h4>20,000원</h4>
              <div class="address">서초동 끌올 3시간전전</div>
            </div>
          </a>
          <a href="addressdetail.html" class="latest-order">
            <div class="latest-order">
              <img src="/img/user/58dc48bc0431c3afc99be751bce99ac4c89237f380bc34b0d30b8adfbb92cc89_0.webp" alt=""
                class="main-img">
              <div class="title">스타벅스 블루투스 랜턴 캠핑조명</div>
              <h4>20,000원</h4>
              <div class="address">서초동 끌올 3시간전전</div>
            </div>
          </a>
          <a href="addressdetail.html" class="latest-order">
            <div class="latest-order">
              <img src="/img/user/58dc48bc0431c3afc99be751bce99ac4c89237f380bc34b0d30b8adfbb92cc89_0.webp" alt=""
                class="main-img">
              <div class="title">스타벅스 블루투스 랜턴 캠핑조명</div>
              <h4>20,000원</h4>
              <div class="address">서초동 끌올 3시간전전</div>
            </div>
          </a>
          <a href="addressdetail.html" class="latest-order">
            <div class="latest-order">
              <img src="/img/user/58dc48bc0431c3afc99be751bce99ac4c89237f380bc34b0d30b8adfbb92cc89_0.webp" alt=""
                class="main-img">
              <div class="title">스타벅스 블루투스 랜턴 캠핑조명</div>
              <h4>20,000원</h4>
              <div class="address">서초동 끌올 3시간전전</div>
            </div>
          </a>
          <a href="" class="next-btn">
            <img src="/img/user/Vector.png" alt="" style="width: 50px; height: 50px;">
          </a>
        </div>
      </div>

      <!-- 하단 -->
      <div style="margin: 100px 0 100px 0;">
        <h2>최근 판매 내역</h2>
        <div style="display: flex; gap: 20px;">
          <a href="addressdetail.html" class="latest-order">
            <div class="latest-order">
              <img src="/img/58dc48bc0431c3afc99be751bce99ac4c89237f380bc34b0d30b8adfbb92cc89_0.webp" alt=""
                class="main-img">
              <div class="title">스타벅스 블루투스 랜턴 캠핑조명</div>
              <h4>20,000원</h4>
              <div class="address">서초동 끌올 3시간전전</div>
            </div>
          </a>
          <a href="addressdetail.html" class="latest-order">
            <div class="latest-order">
              <img src="/img/58dc48bc0431c3afc99be751bce99ac4c89237f380bc34b0d30b8adfbb92cc89_0.webp" alt=""
                class="main-img">
              <div class="title">스타벅스 블루투스 랜턴 캠핑조명</div>
              <h4>20,000원</h4>
              <div class="address">서초동 끌올 3시간전전</div>
            </div>
          </a>
          <a href="addressdetail.html" class="latest-order">
            <div class="latest-order">
              <img src="/img/58dc48bc0431c3afc99be751bce99ac4c89237f380bc34b0d30b8adfbb92cc89_0.webp" alt=""
                class="main-img">
              <div class="title">스타벅스 블루투스 랜턴 캠핑조명</div>
              <h4>20,000원</h4>
              <div class="address">서초동 끌올 3시간전전</div>
            </div>
          </a>
          <a href="addressdetail.html" class="latest-order">
            <div class="latest-order">
              <img src="/img/58dc48bc0431c3afc99be751bce99ac4c89237f380bc34b0d30b8adfbb92cc89_0.webp" alt=""
                class="main-img">
              <div class="title">스타벅스 블루투스 랜턴 캠핑조명</div>
              <h4>20,000원</h4>
              <div class="address">서초동 끌올 3시간전전</div>
            </div>
          </a>
          <a href="" class="next-btn">
            <img src="/img/Vector.png" alt="" style="width: 50px; height: 50px;">
          </a>
        </div>
      </div>
    </section>

</th:block>