<th:block th:replace="~{include/include :: def(~{::#wrap})} ">
    <section id="wrap" class="section_main">
        <div class="con_box">
            <div class="txt_slide">
                <div class="ts_top">
                    <div>REWRITE에서 [</div>
                </div>
                <div id="ts_mid">
                    <div>의류</div>
                    <div>게임</div>
                    <div>가전제품</div>
                    <div>전자기기</div>
                </div>
                <div class="ts_bottom">
                    <div>] 찾고 계신가요?</div>
                </div>
            </div>
        </div>
        <nav class="main_nav">
            <form action="#">
                <div class="search_head">
                    <!-- <img src="img/search_icon.png" alt="search_arrow"> -->
                </div>
                <div class="search_sec">
                    <input type="text" placeholder="검색어를 입력하세요.">
                </div>
                <div class="search_foot">
                    <img src="img/search_icon.png" alt="search_arrow">
                </div>
            </form>
        </nav>



<!--        <div class="category_box">-->
<!--            <div class="category_sec">-->
<!--                <div><a href="#"><img src="img/cate_clothing.png" alt="category"></a></div>-->
<!--                <div><a href="#"><img src="img/cate_game.png" alt="category"></a></div>-->
<!--                <div><a href="#"><img src="img/cate_appliances.png" alt="category"></a></div>-->
<!--                <div><a href="#"><img src="img/cate_electronics.png" alt="category"></a></div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="flow_banner">
            <div class="list">
                <!-- 타임리프를 사용하여 상품 목록 반복 -->
                <div th:each="product : ${products}" class="card" th:data-prod-id="${product.prodId}">
                    <div class="media-container">
                        <!-- 상품 이미지 -->
                        <img th:src="${product.img1}" alt="상품 이미지" class="prod-image">
                        <!-- 호버 텍스트 -->
                        <div class="hover-text active">상세보기</div>
                    </div>
                    <div class="product-info">
                        <!-- 상품명 -->
                        <h3 class="product-name" th:text="${product.title}">상품명</h3>
                        <!-- 가격 -->
                        <p class="price" th:text="${#numbers.formatInteger(product.price, 0, 'COMMA') + '원'}">가격</p>
                    </div>
                </div>
            </div>
        </div>


    </section>
</th:block>